In [1]:
import os 
import pandas as pd 
DATA = '/config/workspace/mlops_test/wine-quality/winequalityN.csv'

In [2]:
wine_df = pd.read_csv(DATA)
wine_df.head(2)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

In [3]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [4]:
wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [6]:
wine_red_df = wine_df[wine_df['type']=='red']
wine_red_df = wine_red_df.drop('type', axis=1)
wine_red_df.head(1)
wine_red_df.to_csv('wines.csv')

In [ ]:
wine_red_df.isnull().sum()

In [ ]:
wine_red_df.dropna(inplace=True)

In [ ]:
wine_red_df.isnull().sum()

In [ ]:
import matplotlib.pyplot as plt 

wine_red_df.hist(bins=50, figsize=(20,15), color='blue')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
X = wine_red_df.drop('quality', axis=1)
y = wine_red_df['quality']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
TTS = [X_train, X_test, y_train, y_test]
for i in TTS:
    print(i.shape)

In [ ]:
from sklearn.linear_model import ElasticNet
lr = ElasticNet(alpha=0.1, l1_ratio=0.5, random_state=42)
lr.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

In [ ]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    r2 = r2_score(actual, pred)

    return rmse, mae, r2

In [ ]:
pred = lr.predict(X_test)

In [ ]:
rmse, mae, r2 = eval_metrics(y_test, pred)

In [ ]:
METRICS = [rmse, mae, r2]
for metric in METRICS:
    print(round(metric,2))

In [ ]:
%pwd

In [ ]:
os.chdir('../')

In [ ]:
%pwd

In [ ]:
from dataclasses import dataclass 
from pathlib import Path

@dataclass(frozen=True)
class DataIngestionConfig:
    root_dir: Path
    source_URL: str
    local_data_file: Path
    unzip_dir: Path

In [4]:
from mlProject_test import *
from mlProject_test.utils.common import read_yaml, create_directories

In [3]:
import pandas as pd 
df = pd.read_csv('wines.csv')
df.isna().sum()
df.dropna(axis=1, inplace=True)
df.to_csv('wines.csv')

In [4]:
df = pd.read_csv('wines.csv')
df.isna().sum()

Unnamed: 0.1            0
Unnamed: 0              0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
alcohol                 0
quality                 0
dtype: int64